{% extends 'base.html' %}
{% load static %}

{% block links %}
	<link rel="stylesheet" href="{% static 'css/forms.css' %}" />
{% endblock %}

{% block conteudo %}
	<h1 class="form-titulo">Gerar nova senha</h1>
	{% csrf_token %}
	<form method="POST">
		<div class="form-item">
			<label for="lembrar-senha">Senha</label>
			<input type="password" name="senha" id="lembrar-senha" required />
			{{ form.senha.errors }}
		</div>
		<div class="form-item">
			<label for="lembrar-confirmacao-senha">Confirme sua senha</label>
			<input type="password" name="confirmacao-senha" id="lembrar-confirmacao-senha" required />
			{{ form.confirmacao-senha.errors }}
		</div>
		<div class="acoes">
			<button class="btn btn-principal" type="submit">Salva nova Senha</button>
		</div>
	</form>
{% endblock %}