section.premios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
section.premios h1{
    widows: 100%;
}
.premio {
    width: 25em;
    display: inline-block;
    margin: 8px 0px;
    background-color: rgb(0, 0, 0);
    color: var(--cor-escura);
}

.premio h2 {
    color: white;
    font-family: sans-serif;
}
.premio h3 {
    color: rgb(1, 18, 255);
}
.premio h2, .premio h3{
    text-transform: uppercase;
}

@media (max-width: 500px){
    .premio{
        width: 100%;
        margin-left: 8px;
        margin-right: 8px;
    }
}